# 正式环境配置

version: '3'
services:
    {{.Project}}:
        container_name: {{.Project}}
        build: 
          context: .
          args:
            BASEPATH: / # base path for ui and server, cannot change on the fly cause of embedding ui
        #restart: unless-stopped
        working_dir: "/app/"
        environment:
            GIN_MODE: release
        entrypoint: "{{.Project}} --port={{.Port}}"
        volumes:
            - "./.data:/app/.data"
        ports:
            - {{.Port}}:{{.Port}}
        
        tty: true