doctype html
html(lang="en")
  head
    title= Jan
    link(rel='stylesheet', href='/stylesheets/auth.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body

    section
        .container
          .input-container
            input(id="name", type="text", name="username", value="username")
            input(id="password", type="password", name="password", value="password")
            select(id="role", name="roles") 
                option(value="admin") Admin
                option(value="moderator")  Mod
                option(value="user") User
            button(type="button", id="Signup") Signup

    script 
      include ../public/javascripts/signup.js